<div class="grid grid-cols-5">
  <div class="col-span-2">
    <img
      src="http://photos.q00gle.com/storage/files/images-2021/images-movies/09/614ff18cd772f.jpg"
      alt=""
    />
  </div>
  <div class="col-span-3">
    <div class="film-poster col-md-8">
      <div class="movie-detail">
        <h1 class="entry-title">Giải Cứu ‘Guy’ – Free Guy</h1>
        <p class="org_title">Free Guy</p>
        <p class="episode">Mới cập nhật:
          <a
            class="halim-episode"
            href="https://phimgii.net/xem-phim/giai-cuu-guy-free-guy-tap-1-server-1/"
          ><span class="last-eps box-shadow">HD</span></a>
        </p>
        <p class="episode">
          Tình trạng: Phụ Đề Full
        </p>
        <p class="released">
          <span class="title-year">Năm:
            <a
              href="https://phimgii.net/release/2021/"
              rel="tag"
            >2021</a></span>
        </p>
        <p class="category">Thể loại:
          <a
            href="https://phimgii.net/phim-le-moi/phim-bom-tan/"
            rel="category tag"
          >PHIM BOM TẤN - CHIẾU RẠP</a>,
          <a href="https://phimgii.net/phim-hai-huoc/" rel="category tag">Phim
            Hài Hước</a>,
          <a href="https://phimgii.net/phim-hanh-dong/" rel="category tag">Phim
            Hành Động</a>,
          <a href="https://phimgii.net/phim-le/" rel="category tag">Phim Lẻ</a>,
          <a href="https://phimgii.net/phim-le-moi/" rel="category tag">Phim Lẻ
            Mới</a>,
          <a href="https://phimgii.net/phim-vien-tuong/" rel="category tag">Phim
            Viễn Tưởng</a></p>
        <p class="actors">Quốc gia:<a
            href="https://phimgii.net/country/my"
            title="Mỹ"
          >Mỹ</a></p>

      </div>
      <div class="ratings_wrapper">
        <div
          class="halim_imdbrating taq-score"
          itemprop="aggregateRating"
          itemscope=""
          itemtype="http://schema.org/AggregateRating"
        >
          <span class="hidden" itemprop="name">Giải Cứu ‘Guy’ – Free Guy</span>
          <span class="hidden" itemprop="description">Giải Cứu 'Guy' - Free Guy,
            Free Guy 2021 Full Guy – Nhân viên giao dịch ngân hàng, phát hiện
            anh ấy thực chất là người chơi nền trong trò chơi điện tử thế giới
            mở. Guy quyết định trở thành người anh hùng và viết lại câu chuyện
            của chính mình. Giờ đây, trong […]</span>
          <span class="score" itemprop="ratingValue">4.35</span><i>/</i>
          <span class="max-ratings" itemprop="bestRating">5</span>
          <span class="total_votes" itemprop="ratingCount">108</span><span
            class="vote-txt"
          > đánh giá</span>
          <meta itemprop="worstRating" content="1" />
        </div>
        <div class="rate-this">
          <div
            data-rate="86.907407407407"
            data-id="102379"
            class="user-rate user-rate-active"
          >
            <span class="user-rate-image post-large-rate stars-large">
              <span style="width: 86.907407407407%"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>