@tailwind base;
@tailwind components;
@tailwind utilities;

.card.image-full>figure img {
  @apply h-48;
  -o-object-fit: cover;
  object-fit: cover;
}

.card-badge {
  position: absolute;
  top: 0;
  background: cadetblue;
  z-index: 1;
  padding: 0.5rem;
  padding: 0.5rem 2rem;
  font-weight: bold;
  @apply text-base-content;
  @apply rounded-md;
}

.hiddeni {
  display: none !important;
}