@tailwind base;
@tailwind components;
@tailwind utilities;

html[data-theme="light"] {
  background-attachment: fixed;

  background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
}

html[data-theme="light"] .bg-neutral {
  background: transparent;
}

#navbar {
  top: 0;
  transition: top 0.3s;
}

.card.image-full > figure img {
  @apply h-48;
  -o-object-fit: cover;
  object-fit: cover;
}

.card-badge {
  position: absolute;
  top: 0;
  z-index: 1;
  padding: 0.5rem;
  font-weight: bold;
  @apply text-white text-sm;
  @apply rounded-md bg-rose-600;
}

html[data-theme="dark"] .card-badge {
  @apply bg-purple-600;
}

.hiddeni {
  display: none !important;
}

.btn-purple {
  @apply mb-2 bg-purple-500 hover:bg-purple-600 p-2 rounded text-white transition duration-300;
}
