<div class="p-2 shadow-md rounded-md bg-base-200 my-2">
  <h2 class="text-xl my-2">Phim mới</h2>
  {{> carousel barId="phimMoi"}}
</div>

 <div class="p-2 shadow-md rounded-md bg-base-200 my-2">
  <h2 class="text-xl my-2">Phim hành động</h2>
  {{> carousel barId="phimHanhDong"}}
</div> 

<div class="p-2 shadow-md rounded-md bg-base-200 my-2">
  <h2 class="text-xl my-2">Phim kinh dị</h2>
  {{> carousel barId="phimKinhDi"}}
</div>

<div class="p-2 shadow-md rounded-md bg-base-200 my-2">
  <h2 class="text-xl my-2">Phim hoạt hình</h2>
  {{> carousel barId="phimHoatHinh"}}
</div>