<div class="p-2 shadow-md rounded-md bg-base-200 my-2">
  {{#if error}}
    <div class="bg-red-200 p-2 rounded-md">
      {{error}}
    </div>
  {{/if}}
  <h1 class="text-xl mb-2">Đăng ký</h1>
  <form class="flex flex-col text-base-content" action="/signup" method="POST">
    <div class="flex flex-col gap-1">
      <label class="text-sm mb-2 flex flex-col">
        <span class="text-sm mr-2">Tên đăng nhập</span>
        <input type="text" placeholder="User Name" class="input input-bordered" name="username" />
      </label>
      <label class="text-sm mb-2 flex flex-col">
        <span class="text-sm mr-2">Họ và Tên</span>
        <input type="text" placeholder="Full Name" class="input input-bordered" name="fullname" />
      </label>
      <label class="text-sm mb-2 flex flex-col">
        <span class="text-sm mr-2">Email</span>
        <input type="email" placeholder="Email" class="input input-bordered" name="email" />
      </label>
      <label class="text-sm mb-2 flex flex-col">
        <span class="text-sm mr-2">Mật khẩu</span>
        <input type="password" placeholder="Password" class="input input-bordered" name="password" />
      </label>
      <label class="text-sm mb-2 flex flex-col">
        <span class="text-sm mr-2">Nhập lại mật khẩu</span>
        <input type="password" placeholder="Re-password" class="input input-bordered" name="repassword" />
      </label>

      <button class="btn btn-purple">Đăng ký</button>
    </div>

  </form>
</div>