<div class="p-2 shadow-md rounded-md bg-base-200 my-2">
  <h2 class="text-xl mb-2">Top lượt xem</h2>
  {{!-- <div class="tabs">
    <a class="tab tab-lifted">Ngày</a>
    <a class="tab tab-lifted tab-active">Tuần</a>
    <a class="tab tab-lifted">Tháng</a>
    <a class="tab tab-lifted">Mùa</a>
    <a class="tab tab-lifted">Năm</a>
  </div> --}}

  <div class="p-2">
    Đang cập nhật

  </div>
</div>