<div class="p-2 shadow-md rounded-md bg-base-200 my-2">
  <h2 class="text-xl mb-2">
    Shop Phimmoi
  </h2>
  <div id="wallets" class="p-2 flex gap-2 divide-x rounded border my-2"></div>
  <div class="tabs">
    <a class="tab tab-lifted tab-active">
      Áo thun
    </a>
    <a class="tab tab-lifted">
      Hoodie
    </a>
    <a class="tab tab-lifted">
      Quần
    </a>
    <a class="tab tab-lifted">
      Mặt nạ
    </a>
    <a class="tab tab-lifted">
      Set
    </a>
    <a class="tab tab-lifted">
      Voucher
    </a>
  </div>
  <div class="p-2">
    Update soon...
    {{! connect wallet button }}
  </div>
</div>