{{#>profile}}
{{#if message}}
<div class="bg-green-300 dark:bg-green-400 hover:bg-green-400 dark:hover:bg-green-500 p-2 rounded my-2">
    {{message}}
</div>
{{/if}}

{{#ifEquals user.isActivated false}}
<div x-data="{ open: false }">
    <div x-show="!open">
        <div class="flex flex-col justify-center items-center gap-2">

            <h3 class="text-2xl font-semibold text-rose-300">Welcome! Let's Activate Your Account</h3>
            <p class="text-lg">
                Please click the button below to activate your account.
            </p>
            <button @click="open = true" onclick="SendActivation(this)" data-id="{{user.id}}"
                class="text-white shadow-md rounded transform transition hover:scale-110 px-4 py-2 flex items-center m-1 bg-blue-400 gap-2">
                <i class="fas fa-user-check"></i>
                <span class="text-lg">Activate</span>
            </button>

        </div>
    </div>
    <div x-show="open">
        <div x-cloak class="flex flex-col items-center justify-center gap-2">
            <div class="flex flex-col items-center justify-center gap-2">
                <h3 class="text-2xl font-semibold text-rose-300">Activation Email Sent</h3>
                <p class="text-lg">
                    An activation email has been sent to your email address.
                </p>
                <p class="text-lg">
                    Please click the link in the email to activate your account.
                </p>
            </div>
            {{!-- if you cant receive email --}}
            <button @click="open = false"
                class="text-white shadow-md rounded transform transition hover:scale-110 px-4 py-2 flex items-center m-1 bg-blue-400 gap-2">
                <span class="text-lg">You can't receive that email</span>
                <i class="fas fa-question"></i>
        </div>
    </div>
</div>
{{else}}
<div class="flex flex-col justify-center items-center gap-2">
    <h3 class="text-2xl font-semibold text-rose-300">Welcome!</h3>
    <p class="text-lg">
        You have already activated your account.
    </p>
</div>
{{/ifEquals}}
</div>
{{/profile}}

<style>
    [x-cloak] {
        display: none !important;
    }
</style>

<script>
    function SendActivation(e) {
        const id = e.getAttribute('data-id');
        const url = `/activate/${id}`;
        const data = {
            __csrf: '{{@root/_csrfToken}}'
        };
        $.ajax({
            url: url,
            type: 'POST',
            data: data,
        })
    };
</script>