{{#>profile}}
<form class="flex flex-col gap-4" action="/profile/changepwd" method="POST">
  <h3 class="text-xl mb-2 px-2 font-semibold">
    Đổi mật khẩu
  </h3>
  <input type="password" class="p-2 border text-black border-pink-400 rounded w-full" name="oldPassword" id="oldpwd"
    placeholder="Mật khẩu cũ" required>
  <input type="password" class="p-2 border text-black border-pink-400 rounded w-full" name="newPassword" id="newpwd"
    placeholder="Mật khẩu mới" required>
  <input type="password" class="p-2 border text-black border-pink-400 rounded w-full" name="confirmPassword"
    id="renewpwd" placeholder="Nhập lại mật khẩu mới" required>
  <input type="hidden" value="{{@root/_csrfToken}}" name="_csrf">
  <button
    class="my-4 bg-pink-400 hover:bg-pink-600 p-2 rounded dark:text-white text-base-content transition duration-300"
    type="submit">
    Đổi mật khẩu
  </button>

</form>
{{!-- reset password --}}
<h3 class="text-xl mb-2 px-2 font-semibold italic hover:underline cursor-pointer" id="resetpwd" data-id="{{user.id}}"
  value="{{user.isActivated}}">
  Khôi phục mật khẩu bằng email ?
</h3>

<script>
  $('[id="resetpwd"]').click(function () {
    // get value isActivated
    const isActivated = $('#resetpwd').attr('value');
    if (isActivated == 'false') {
      alert('Bạn chưa kích hoạt tài khoản,\nHãy kích hoạt tài khoản để sử dụng chức năng này');
      return;
    }
    const id = $('#resetpwd').attr('data-id');
    $.ajax({
      url: '/user/reset-pwd/' + id,
      method: 'POST',
      data: {
        _csrf: '{{@root/_csrfToken}}'
      },
      success: function (data) {
        console.log(data);
        if (data.success) {
          alert('Bạn đã nhận được email khôi phục tài khoản,\nHãy kiểm tra email để khôi phục tài khoản');
        }
      }
    });

  });

</script>

{{/profile}}