<div class="group rounded box-border shadow-md h-36 relative overflow-hidden">
  <figure class="h-full w-full">
    <img
      src="https://znews-photo.zadn.vn/w660/Uploaded/ngogtn/2020_11_11/demon.jpg"
      class="object-cover transform transition group-hover:scale-110 h-full w-full"
    />
  </figure>
  <div
    class="card-body z-20 absolute bottom-4 md:pb-0 left-0 right-0 bg-opacity-40 h-10"
  >
    <h3 class="text-white p-1 line-clamp-1">
      HANYOU NO YASHAHIME: SENGOKU OTOGIZOUSHI TẬP 32
    </h3>
    <p class="line-clamp-1 text-xs font-light">
      Tập 32 - Akaza
    </p>
  </div>
  <a href="/phim/thong-tin">
    <div
      class="absolute bottom-0 left-0 right-0 h-full w-full bg-gradient-to-t from-black via-transparent"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-0 h-0 transition-all group-hover:h-1/3 group-hover:w-1/3 z-20"
        viewBox="0 0 20 20"
        fill="#fff"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </div>
  </a>
</div>