<div class="card group rounded box-border shadow-md h-full relative">
  <div class="card-badge left-0">HD</div>
  <div class="card-badge right-0">Tập 7749</div>
  <figure class="h-full">
    <img
      src="http://placekitten.com/400/400"
      class="bg-cover transform transition group-hover:scale-110 h-full"
    />
  </figure>
  <div
    class="card-body z-20 absolute bottom-0 md:pb-0 left-0 right-0 bg-opacity-40 h-10"
  >
    <h2
      class="card-title text-white bg-black bg-opacity-50 p-0.5 absolute top-0 bottom-0"
    >Bảy viên ngọc rồng
    </h2>
    <p>{{description}}</p>
    {{! <div class="justify-end card-actions">
      <button class="btn btn-secondary">More info</button>
    </div> }}
  </div>
  <a href="/phim/thong-tin">
    <div
      class="bg-black bg-opacity-0 group-hover:bg-opacity-50 transition duration-300 absolute top-0 bottom-0 left-0 right-0 [ flex items-center justify-center ]"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-0 h-0 transition-all group-hover:h-1/3 group-hover:w-1/3 z-20"
        viewBox="0 0 20 20"
        fill="#fff"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </div>
  </a>
</div>