<div class="card image-full group rounded box-border shadow-xl relative">
  <figure class="overflow-hidden">
    <img
      src="http://lorempixel.com/640/360"
      class="h-48 bg-cover transform transition group-hover:scale-110"
    />
  <div
    class="bg-black bg-opacity-0 group-hover:bg-opacity-50 transition duration-300 absolute top-0 bottom-0 left-0 right-0"
  >
  </div>
  </figure>
  <div class="justify-end card-body z-20">
    <h2 class="card-title">Cô dâu 69 tuổi
      <div class="badge mx-2 badge-secondary">NEW</div>
    </h2>
    <p>{{description}}</p>
    {{! <div class="justify-end card-actions">
      <button class="btn btn-secondary">More info</button>
    </div> }}
  </div>
</div>