<div class="fixed bottom-8 right-8 z-50" id="modeToggle">
  <i
    class="fas fa-moon fa-3x text-base-content rounded p-3 hover:opacity-60"
  ></i>
</div>
<script>
  const darkModeToggle = document.getElementById('modeToggle');
  darkModeToggle.addEventListener('click', () => {
    document.documentElement.classList.toggle('dark');

    // change i class to sun
    if (darkModeToggle.firstElementChild.classList.contains('fa-moon')) {
      darkModeToggle.firstElementChild.classList.remove('fa-moon');
      darkModeToggle.firstElementChild.classList.add('fa-sun');
    } else {
      darkModeToggle.firstElementChild.classList.remove('fa-sun');
      darkModeToggle.firstElementChild.classList.add('fa-moon');
    }

    // save to local storage
    if (document.documentElement.classList.contains('dark')) {
      localStorage.setItem('darkMode', 'true');
    } else {
      localStorage.setItem('darkMode', 'false');
    }
  });
  
  // check if dark mode is set in local storage, or set if darkMode is not set and prefers dark mode
  if (
    localStorage.getItem('darkMode') === 'true' ||
    (localStorage.getItem('darkMode') === null &&
      window.matchMedia &&
      window.matchMedia('(prefers-color-scheme: dark)').matches)
  ) {
    document.documentElement.classList.add('dark');
    darkModeToggle.firstElementChild.classList.remove('fa-moon');
    darkModeToggle.firstElementChild.classList.add('fa-sun');
  }
</script>