<div id="navbar"
  class="fixed top-0 inset-x-0 flex justify-between items-center z-50 md:px-4 dark:text-black bg-opacity-70 fadeIn p-1"
  x-data="{    
    nav: window.innerWidth >= 1024,
    searchOpen: false,
  }" @resize.window="nav = window.innerWidth >= 1024">
  <a @click="nav = !nav" class="flex items-center ml-2 lg:hidden">
    <i class="fas fa-bars fa-1x text-base-content p-2 hover:text-gray-700"></i>
  </a>
  {{! Logo }}
  <div class="p-2 dark:text-white flex items-center gap-2">
    <a href="/" class="flex items-center gap-1">
      <i class="fas fa-circle fa-1x"></i>
      <span class="font-bold uppercase">
        PhimmoiZ
      </span>
    </a>
    <a @click="searchOpen = true" class="">
      <i
        class="fas fa-search fa-1x text-black p-2 lg:rounded-full bg-white hover:bg-gray-400 border border-gray-400 dark:border-0"></i>
    </a>
    <div x-show="searchOpen">
      {{> search}}
    </div>
  </div>
  {{! Menu }}
  <nav
    class="[ w-full absolute top-14 left-0 flex-col ] lg:static flex lg:flex-row lg:items-center lg:gap-2 justify-center flex-grow"
    x-show="nav" x-cloak x-transition:enter="transition ease-out duration-500" x-transition:enter-start="opacity-0"
    x-transition:enter-end="opacity-100" x-transition:leave="transition ease-in duration-500"
    x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" {{!-- hide when click away on mobile --}}
    @click.away="nav = window.innerWidth >= 1024">
    <a href="/danh-sach"
      class="px-4 py-2 lg:rounded-full bg-white hover:bg-opacity-70 border border-gray-400 dark:border-0">
      <i class="fas fa-search fa-1x"></i>
      Tìm kiếm nâng cao
    </a>
    <a href="/categories"
      class="px-4 py-2 lg:rounded-full bg-white hover:bg-opacity-70 border border-gray-400 dark:border-0">
      <i class="fas fa-list fa-1x"></i>
      Thể loại
    </a>
    <a href="/shop" class="px-4 py-2 lg:rounded-full bg-white hover:bg-opacity-70 border border-gray-400 dark:border-0">
      <i class="fas fa-store fa-1x"></i>
      Shop
    </a>
  </nav>
  <div class="flex items-center flex-nowrap upercase p-2 gap-2 relative" x-data="{open: false}">
    {{#unless user}}
    <a href="/login" class="px-4 py-2 rounded-full bg-blue-400 text-white hover:bg-opacity-70 whitespace-nowrap">
      <i class="fas sign-in-alt fa-1x"></i>
      <span class="hidden md:inline-block">
        Đăng nhập
      </span>
    </a>
    {{else}}
    <span class="relative">
      <a @click="open = !open"
        class="px-4 py-2 rounded-full bg-blue-400 text-white hover:bg-opacity-70 flex items-center gap-1">
        <i class="fas fa-user fa-1x"></i>
        <span class="hidden md:inline-block">
          {{user.username}}
        </span>
      </a>
      <div x-show="open" x-cloak x-transition:enter="transition ease-out duration-100"
        x-transition:enter-start="opacity-0 transform scale-90" x-transition:enter-end="opacity-100 transform scale-100"
        x-transition:leave="transition ease-in duration-100" x-transition:leave-start="opacity-100 transform scale-100"
        x-transition:leave-end="opacity-0 transform scale-90"
        class="absolute right-0 top-12 w-48 bg-white rounded-lg shadow-lg" @click.away="open = false">
        <div class="flex flex-col justify-between p-4">
          {{!-- check if user.role == admin --}}
          {{#ifEquals user.role "admin"}}
          <a href="/admin" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-200 transition rounded-sm">
            <i class="fas fa-cog fa-1x"></i>
            Quản trị
          </a>
          {{/ifEquals}}

          <a href="/profile" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-200 transition rounded-sm">
            <i class="fas fa-user fa-1x"></i>
            Trang cá nhân
          </a>
          <a href="/logout" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-200 transition rounded-sm">
            <i class="fas fa-sign-out-alt fa-1x"></i>
            Đăng xuất
          </a>
        </div>
      </div>
    </span>

    {{!-- Favorite --}}
    <a href="/favorite"
      class="px-4 py-2 rounded-full bg-pink-400 dark:bg-fuchsia-500 text-white hover:bg-opacity-70 whitespace-nowrap flex items-center gap-1">
      <i class="fas fa-heart fa-1x"></i>
      <span class="hidden md:inline-block"> Yêu thích </span>
    </a>

    {{/unless}}
    <a href="#" class="p-2 rounded-full bg-white hover:bg-opacity-70 flex">
      {{!-- notification --}}
      <i class="fas fa-bell fa-1x"></i>
    </a>
  </div>
</div>
<div class="max-w-6xl mx-auto mt-20">
  {{#unless user}}
  <div class="dark:bg-pink-400 rounded p-2 mx-2 text-base-content">
    <div class="flex">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-6 h-6 mx-2 stroke-current">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
      </svg>
      <label>
        Bạn chưa đăng nhập,
        <a class="link link-hover font-bold" href="/login">
          đăng nhập
        </a>
        hoặc
        <a class="link link-hover font-bold" href="/register">
          đăng ký
        </a>
        .
      </label>
    </div>
  </div>
  {{/unless}}
</div>
<script>
  var prevScrollpos = window.pageYOffset;

  window.onscroll = function () {
    var currentScrollPos = window.pageYOffset;

    if (prevScrollpos > currentScrollPos) {
      document.getElementById("navbar").style.top = "0";
    } else {
      document.getElementById("navbar").style.top = "-20px";
    } prevScrollpos =
      currentScrollPos;
  }

  // Toggle black backgroudn for id navbar when scroll down 
  window.addEventListener('scroll', function () {
    if (window.scrollY > 100) {
      if (document.documentElement.classList.contains('dark')) {
        document.getElementById('navbar').classList.add('bg-black')
      } else {
        document.getElementById('navbar').classList.add('bg-white')
      }
    } else {
      document.getElementById('navbar').classList.remove('bg-black')
      document.getElementById('navbar').classList.remove('bg-white')
    }
  })
</script>