<div class="flex">

  <div class="avatar online">
    <div class="rounded-full w-24 h-24">
      <img src="http://daisyui.com/tailwind-css-component-profile-1@94w.png" />
    </div>
  </div>

  <div class="rounded bg-purple-300 p-1 relative flex-grow ml-4 text-black">
    <div
      style="clip-path: polygon(100% 0, 0% 100%, 100% 100%);"
      class="bg-purple-300 absolute w-4 h-4 top-4 -left-3"
    >

    </div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
  </div>
</div>