<a href="/phim/xem-phim">
  <div
    class="flex gap-2 bg-base-200 overflow-hidden items-center shadow-sm rounded group group-hover:bg-base-300 transition"
  >
    <div class="overflow-hidden w-40 box-border">
      <img
        src="https://znews-photo.zadn.vn/w660/Uploaded/ngogtn/2020_11_11/demon.jpg"
        class="rounded transition transform group-hover:scale-105"
        alt=""
      />
    </div>
    <div class="flex flex-col">
      <div class="font-bold">
        Thanh gươm diệt quỷ
      </div>
      <div class="text-xs">
        <span class="text-base-content">
          <i class="fas fa-star"></i>
          5.5/10
        </span>
      </div>
      <div class="text-xs">
        Tập 100
      </div>
    </div>
  </div>
</a>