{{#>profile}}
<div class="col-span-3">
    <h3 class="text-xl mb-2 px-2 font-semibold">
        Đổi mật khẩu
    </h3>
    <h3 class="text p-2">
        Mật khẩu cũ:
    </h3>
    <input type="password" class="p-2 border border-pink-400 rounded w-full" name="oldpwd" id="oldpwd"
        placeholder="Nhập mật khẩu cũ" required>
    <h3 class="text p-2">
        Mật khẩu mới:
    </h3>
    <input type="password" class="p-2 border border-pink-400 rounded w-full" name="newpwd" id="newpwd"
        placeholder="Nhập mật khẩu mới" required>
    <h3 class="text p-2">
        Nhập lại mật khẩu mới:
    </h3>
    <input type="password" class="p-2 border border-pink-400 rounded w-full" name="renewpwd" id="renewpwd"
        placeholder="Nhập lại mật khẩu mới" required>
    <button
        class="my-4 bg-pink-400 hover:bg-pink-600 p-2 rounded dark:text-white text-base-content transition duration-300">
        Đổi mật khẩu
    </button>

</div>

{{/profile}}