<div class="p-2 shadow-md rounded-md bg-base-200 my-2">
  <h1 class="text-xl mb-2">
    Đăng nhập
  </h1>
  {{! show if there is errors }}
  <form action="/login" method="post" class="flex flex-col gap-2 max-w-3xl mx-auto">
    <div class="form-control">
      <label class="label">
        <span class="label-text">
          Tên đăng nhập hoặc email
        </span>
        <a href="#" class="label-text-alt">
          Need help?
        </a>
      </label>
      <input type="text" placeholder="Email" class="input input-bordered" name="email" />
    </div>
    <div class="form-control">
      <label class="label">
        <span class="label-text">
          Mật khẩu
        </span>
      </label>
      <input type="password" placeholder="Password" class="input input-bordered" name="password" />
    </div>
    <input type="hidden" name="_csrf" value="{{@root/_csrfToken}}" />
    <button type="submit" class="btn btn-primary mt-2 hover:bg-opacity-75">
      Đăng nhập
    </button>
    <div class="mt-2 flex gap-2 justify-center">
      {{! Login with Facebook }}
      <button onclick="loginWithFacebook(event)"
        class="btn btn-sm bg-facebook text-white hover:bg-opacity-75 flex items-center gap-2">
        <i class="fab fa-facebook-square inline-block"></i>
        Đăng nhập bằng Facebook
      </button>
      {{! Login with Google }}
      <button href="/auth/google" class="btn btn-sm bg-google text-white hover:bg-opacity-75 flex items-center gap-2">
        <i class="fab fa-google inline-block "></i>
        Đăng nhập bằng Google
      </button>
    </div>
    <div class="text-center mt-3">
      <span class="text-sm text-base-600">
        Chưa có tài khoản?
      </span>
      <a href="/register" class="link link-hover text-base-600">
        Đăng ký
      </a>
    </div>
  </form>
</div>