{{#> admin}}
<div class="p-2">
  {{! List all category from categories }}
  <h3 class="text-lg mb-2">
    Users
  </h3>
  <ul class="list-inside list-none flex flex-col gap-1">
    {{#each users}}
    <li class="p-2 border rounded flex justify-between items-center">
        <span class = "flex-grow">{{this.username}} </span>
        <form action="/admin/admins/deleteUser" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button class="text-white shadow-md rounded transform transition hover:scale-110 p-1 flex gap-1 items-center m-1 bg-blue-400">
            <i class="fas fa-user-times text-white"></i>
            Delete
          </button>
        </form>
          <form action="/admin/admins/make" method="post">
          <input type="hidden" name="_csrf" value="{{@root/_csrf}}">
          <button class="text-white shadow-md rounded transform transition hover:scale-110 p-1 flex gap-1 items-center m-1 bg-pink-400">
            <i class="fas fa-user-lock text-white"></i>
            Make Admin
          </button>
        </form>
    </li>
    {{/each}}
  </ul>
</div>
{{/admin}}

<style>
  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .fadeInClass {
    animation-name: fadeIn;
    animation-duration: 1s;
  }
</style>